/*=========================
------- TYPOGRAPHY --------
==========================*/
h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

article p,
article ol,
article ul {
	color: #FFF;
}

.article a {
	color: #58595B;
}
.article a:hover {
	color: #686A6B;
}
.article a:active {
	color: #7A7C7C;
}


/*=========================
-------- ARTICLES ---------
==========================*/

/* color every 6th article differently */
.fullspan.article:nth-of-type(6n+1) {
	background: #27AAE1;
}
.fullspan.article:nth-of-type(6n+2) {
	background: #00A79D;
}
.fullspan.article:nth-of-type(6n+3) {
	background: #8EC640;
}
.fullspan.article:nth-of-type(6n+4) {
	background: #FAA51B;
}
.fullspan.article:nth-of-type(6n+5) {
	background: #E93F70;
}
.fullspan.article:nth-of-type(6n+6) {
	background: #7B5BA2;
}


/* Table Links */
td a {
	color: #fff;
}
td a:hover {
	color: #E6E6E6;
}
td a:active {
	color: #CCC;
}