// MACC COLOURS
$macc-blue: #00a0df;
$macc-teal: #00a19a;
$macc-green: #82bc00;
$macc-orange: #ffa300;
$macc-pink: #e74260;
$macc-purple: #7f56c5;

// Shades
$macc-charcoal: #333d47;
$macc-grey: #545759;
$macc-light-grey: #999999;

// MACC Colours List;
$macc-colours: $macc-blue, $macc-teal, $macc-green, $macc-orange, $macc-pink, $macc-purple;